nav{
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 0px;
    max-width: 100%;
    border: solid 1px aliceblue;
}
nav a{
    color: #ab3550 !important;
    font-size: 15px;
    letter-spacing: 1px;
    
}
#basic-navbar-nav {
    background-color: white;
    z-index: 1;
    padding: 20px;
}
nav img{
    max-width: 100%;
    height: 90px;
}
nav #lastnav{
    border: solid 2px #ab3550;
    background-color: #ab3550;
    color: white !important;
    width: 170px;
    text-align: center;
    height: 40px;
    margin-left: 10px;
    transition: 0.8s;
}
nav #lastnav:hover{
    background-color: white;
    color: #ab3550 !important;
    transition: 0.8s;
}