header{
    background:url("../../header.png") no-repeat center ;
    background-size: cover;;
    width: 100%;
    height: 94vh;
    max-width: 100%;
}
header #text{
    padding: 130px 30px;
    line-height: 30px;
    margin-top: 10px;
}
#text h2{
    font-size: 50px;

}
#text p{
    color: grey;
}
#btn1{
    margin-right: 20px;
    background-color:#ab3550;
    color: white;
    border: none;
    width: 150px;
    padding: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}
#btn1:hover{
    background-color: white;
    border: solid 2px #ab3550;
    color: #ab3550;
    transition: 0.6s;
}
#btn2{
    background-color:white;
    color: black;
    border:solid 2px white;
    width: 150px;
    padding: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}
#btn2:hover{
    border: solid 2px #ab3550;
    color: #ab3550;
    transition: 0.6s;
}